synchronization-software/node-red/flows_raspberrypi3.json
[{"type":"tab","id":"fd3d5cad.df25f","label":"Http Flow"},{"type":"tab","id":"b88695b1.381918","label":"Button Flow"},{"id":"f5fe0471.e4904","type":"subflow","name":"Start flow","info":"","in":[{"x":50,"y":30,"wires":[{"id":"3c031e1b.4b2a6a"},{"id":"c84600a8.7225b8"},{"id":"820d72af.b59ba8"}]}],"out":[]},{"id":"208d4d36.842612","type":"subflow","name":"Stop flow","info":"","in":[{"x":50,"y":30,"wires":[{"id":"3752e07b.0912"},{"id":"8da4b31b.06e47"},{"id":"38f3e274.c7c74e"}]}],"out":[{"x":412,"y":190,"wires":[{"id":"8da4b31b.06e47","port":1}]},{"x":408,"y":98,"wires":[{"id":"3752e07b.0912","port":1}]}]},{"id":"7e4a31d7.c29b","type":"subflow","name":"Log to file","info":"Log activity to a file","in":[{"x":50,"y":30,"wires":[{"id":"3837a140.3f71b6"}]}],"out":[]},{"id":"9d0a2bcf.ecd658","type":"subflow","name":"watchdog","info":"","in":[],"out":[{"x":1115,"y":200.99998474121094,"wires":[{"id":"f93f0422.c226f","port":0}]}]},{"id":"120d1256.233076","type":"http in","z":"fd3d5cad.df25f","name":"Start recording","url":"/start","method":"get","swaggerDoc":"","x":133.5,"y":262.40000915527344,"wires":[["ac86ecce.2787c","dd7c6a2.f503598"]]},{"id":"a9c10a2c.9c797","type":"http response","z":"fd3d5cad.df25f","name":"OK","x":583.5,"y":384,"wires":[]},{"id":"ac86ecce.2787c","type":"template","z":"fd3d5cad.df25f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Webservice request received: Start recording","x":395.5,"y":385,"wires":[["a9c10a2c.9c797","a3a71bee.ada11"]]},{"id":"24e674a.0d06f0c","type":"http in","z":"fd3d5cad.df25f","name":"Stop recording","url":"/stop","method":"get","swaggerDoc":"","x":172.50001525878906,"y":637.7999877929688,"wires":[["db3921ac.0025c","55e4b670.54646"]]},{"id":"db3921ac.0025c","type":"template","z":"fd3d5cad.df25f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Webservice request received: Stop recording","x":359.5,"y":688.4000244140625,"wires":[["6802944e.a48824","4e9e309b.09c6f8"]]},{"id":"6802944e.a48824","type":"http response","z":"fd3d5cad.df25f","name":"Ok","x":545.5,"y":689.4000244140625,"wires":[]},{"id":"3c031e1b.4b2a6a","type":"exec","z":"f5fe0471.e4904","command":"/opt/recording/scripts/start-stop-m210.sh","addpay":false,"append":"start","useSpawn":true,"name":"Start m210","x":201.49998474121094,"y":29.5,"wires":[[],["1365082f.4ab1b8"],[]]},{"id":"3752e07b.0912","type":"exec","z":"208d4d36.842612","command":"/opt/recording/scripts/start-stop-m210.sh","addpay":false,"append":"stop","useSpawn":true,"name":"Stop m210","x":210.49998474121094,"y":29.300003051757812,"wires":[[],[],[]]},{"id":"dd7c6a2.f503598","type":"subflow:f5fe0471.e4904","z":"fd3d5cad.df25f","x":412.49998474121094,"y":222.99998474121094,"wires":[]},{"id":"55e4b670.54646","type":"subflow:208d4d36.842612","z":"fd3d5cad.df25f","x":376.5,"y":572.6000061035156,"wires":[["dd04b1e.145d7d"],["bdaa4b90.d699d8"]]},{"id":"bdaa4b90.d699d8","type":"debug","z":"fd3d5cad.df25f","name":"stderr m210","active":true,"console":"false","complete":"payload","x":558.5,"y":578.8000183105469,"wires":[]},{"id":"c84600a8.7225b8","type":"exec","z":"f5fe0471.e4904","command":"/opt/recording/scripts/do_ffmpeg.sh","addpay":false,"append":"","useSpawn":true,"name":"Start ffmpeg","x":202.49998474121094,"y":174.3000030517578,"wires":[[],["982a6a8b.25f2"],[]]},{"id":"8da4b31b.06e47","type":"exec","z":"208d4d36.842612","command":"pkill","addpay":false,"append":"ffmpeg","useSpawn":"","name":"kill ffmpeg","x":211.49998474121094,"y":189.3000030517578,"wires":[[],[],[]]},{"id":"dd04b1e.145d7d","type":"debug","z":"fd3d5cad.df25f","name":"stderr ffmpeg","active":true,"console":"false","complete":"payload","x":553.5000152587891,"y":519.8000030517578,"wires":[]},{"id":"5e7122cc.a2602c","type":"rpi-gpio out","z":"f5fe0471.e4904","name":"PIN 3 HIGH","pin":"3","set":true,"level":"0","out":"out","x":519.5,"y":307.79998779296875,"wires":[]},{"id":"3b7ca78d.a8632","type":"rpi-gpio out","z":"208d4d36.842612","name":"PIN 3 LOW","pin":"3","set":true,"level":"0","out":"out","x":447.5,"y":329.79998779296875,"wires":[]},{"id":"820d72af.b59ba8","type":"change","z":"f5fe0471.e4904","name":"set LOW and isRecording","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"isRecording","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":260.50001525878906,"y":309.20001220703125,"wires":[["5e7122cc.a2602c"]]},{"id":"38f3e274.c7c74e","type":"change","z":"208d4d36.842612","name":"set LOW and isRecording","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"isRecording","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":203.49998474121094,"y":332.1999969482422,"wires":[["3b7ca78d.a8632"]]},{"id":"a5e62c1a.5c2798","type":"rpi-gpio in","z":"b88695b1.381918","name":"Button","pin":"5","intype":"up","debounce":"50","read":false,"x":81.5,"y":154.1999969482422,"wires":[["276fa135.30130e"]]},{"id":"276fa135.30130e","type":"switch","z":"b88695b1.381918","name":"if LOW","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":243.49998474121094,"y":152.59999084472656,"wires":[["15af19d6.02d266","bd035373.2d76a8"]]},{"id":"15af19d6.02d266","type":"switch","z":"b88695b1.381918","name":"if isRecording","property":"isRecording","propertyType":"global","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","outputs":3,"x":444.49998474121094,"y":155.59999084472656,"wires":[["91b8b0ec.9a5cc8","9a2fe9ca.36f1d8"],["448801ad.e44d88","d748a41e.ceddd8"],["cf003ca3.dd30e"]]},{"id":"91b8b0ec.9a5cc8","type":"subflow:208d4d36.842612","z":"b88695b1.381918","x":634.4999847412109,"y":103.59999084472656,"wires":[[],[]]},{"id":"448801ad.e44d88","type":"subflow:f5fe0471.e4904","z":"b88695b1.381918","x":632.4999847412109,"y":192,"wires":[]},{"id":"bd035373.2d76a8","type":"debug","z":"b88695b1.381918","name":"if low","active":true,"console":"false","complete":"payload","x":396.49998474121094,"y":287.8000030517578,"wires":[]},{"id":"cf003ca3.dd30e","type":"debug","z":"b88695b1.381918","name":"nope","active":true,"console":"false","complete":"payload","x":594.5,"y":498.79998779296875,"wires":[]},{"id":"d556cb4a.430fe8","type":"inject","z":"fd3d5cad.df25f","name":"set global variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":172.49998474121094,"y":798.0000152587891,"wires":[["7139b30b.a89604"]]},{"id":"7139b30b.a89604","type":"change","z":"fd3d5cad.df25f","name":"set isRecording","rules":[{"t":"set","p":"isRecording","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":405.5,"y":797.2000427246094,"wires":[[]]},{"id":"4e9e309b.09c6f8","type":"subflow:7e4a31d7.c29b","z":"fd3d5cad.df25f","x":546.4999847412109,"y":743.2000274658203,"wires":[]},{"id":"3837a140.3f71b6","type":"timestamp","z":"7e4a31d7.c29b","name":"","x":198.49998474121094,"y":32,"wires":[["1af1b21a.b35a4e"]]},{"id":"1af1b21a.b35a4e","type":"template","z":"7e4a31d7.c29b","name":"Format log line","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}}: {{payload}}","x":407.5,"y":31.399993896484375,"wires":[["439673ae.790fec"]]},{"id":"439673ae.790fec","type":"file","z":"7e4a31d7.c29b","name":"node-red.log","filename":"/opt/recording/logs/node-red.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":619.4999847412109,"y":31,"wires":[]},{"id":"a3a71bee.ada11","type":"subflow:7e4a31d7.c29b","z":"fd3d5cad.df25f","x":596.5,"y":438.20001220703125,"wires":[]},{"id":"47a0610b.d2e7b","type":"subflow:7e4a31d7.c29b","z":"b88695b1.381918","x":789.5,"y":35.19999694824219,"wires":[]},{"id":"9a2fe9ca.36f1d8","type":"template","z":"b88695b1.381918","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Button pressed, stopping recording...","x":629.4999847412109,"y":36.399993896484375,"wires":[["47a0610b.d2e7b"]]},{"id":"d748a41e.ceddd8","type":"template","z":"b88695b1.381918","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Button pressed, starting recording...","x":619.4999847412109,"y":267.40000915527344,"wires":[["1837e652.516efa"]]},{"id":"1837e652.516efa","type":"subflow:7e4a31d7.c29b","z":"b88695b1.381918","x":773.4999847412109,"y":270.1999969482422,"wires":[]},{"id":"1365082f.4ab1b8","type":"file","z":"f5fe0471.e4904","name":"","filename":"/opt/recording/logs/m210.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":502.5,"y":29.199996948242188,"wires":[]},{"id":"982a6a8b.25f2","type":"file","z":"f5fe0471.e4904","name":"","filename":"/opt/recording/logs/ffmpeg.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":500.5,"y":174.1999969482422,"wires":[]},{"id":"c5bd7470.0f59e","type":"inject","z":"9d0a2bcf.ecd658","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":100.5,"y":64.39999389648438,"wires":[["ab8e090b.1913c"]]},{"id":"ab8e090b.1913c","type":"switch","z":"9d0a2bcf.ecd658","name":"if isRecording","property":"isRecording","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":301.5,"y":63.80000305175781,"wires":[["a340a888.f507c"]]},{"id":"7c71dc14.6b4f2c","type":"function","z":"9d0a2bcf.ecd658","name":"m210 pid file exists","func":"msg.payload = context.global.fileExists(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":694.5,"y":26.599960327148438,"wires":[["cf6ab31d.2ae1b8"]]},{"id":"a340a888.f507c","type":"change","z":"9d0a2bcf.ecd658","name":"set file path","rules":[{"t":"set","p":"payload","pt":"msg","to":"/opt/recording/m210.pid","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":501.5,"y":27.599990844726562,"wires":[["7c71dc14.6b4f2c"]]},{"id":"cf6ab31d.2ae1b8","type":"switch","z":"9d0a2bcf.ecd658","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":865.5001220703125,"y":23.800003051757812,"wires":[["a26cc4d4.c8513","f93f0422.c226f"]]},{"id":"a26cc4d4.c8513","type":"subflow:f5fe0471.e4904","z":"9d0a2bcf.ecd658","x":1038.5,"y":23,"wires":[]},{"id":"f93f0422.c226f","type":"change","z":"9d0a2bcf.ecd658","name":"watchdog restarting","rules":[{"t":"set","p":"payload","pt":"msg","to":"watchdog restarting","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":946.5,"y":106.59999084472656,"wires":[[]]},{"id":"e0575332.53047","type":"subflow:9d0a2bcf.ecd658","z":"fd3d5cad.df25f","x":110.5,"y":872.7999877929688,"wires":[["6b406029.8ab9f"]]},{"id":"6b406029.8ab9f","type":"subflow:7e4a31d7.c29b","z":"fd3d5cad.df25f","x":289.49998474121094,"y":876.1999969482422,"wires":[]}]