synchronization-software/node-red/flows_multimodalselfie.json
[{"id":"87a23b10.7acc68","type":"tab","label":"Flow 1"},{"id":"1f4f751a.3ba6eb","type":"subflow","name":"record","info":"","in":[{"x":50,"y":30,"wires":[{"id":"f432fb1.f08ed08"}]}],"out":[]},{"id":"ee50bad5.b56868","type":"subflow","name":"stop","info":"","in":[{"x":80,"y":60,"wires":[{"id":"9c9bbb37.a1e418"},{"id":"a86ec813.6bafb8"},{"id":"ece3f3b6.c271d"},{"id":"1e1cba7a.cbfac6"}]}],"out":[]},{"id":"ceb33a3a.0f4fb8","type":"mqtt-broker","z":"","broker":"mqtt.cti.espol.edu.ec","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"4d5e0d1f.6704d4","type":"http in","z":"87a23b10.7acc68","name":"Start","url":"/start","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["17d5a559.f0408b","b5637c5e.c52ce"]]},{"id":"a36a2cdb.fded6","type":"http in","z":"87a23b10.7acc68","name":"Stop","url":"/stop","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["76064b1c.970074","bd188968.717838"]]},{"id":"17d5a559.f0408b","type":"http response","z":"87a23b10.7acc68","name":"Start","statusCode":"200","headers":{"content-type":"text/plain"},"x":330,"y":60,"wires":[]},{"id":"76064b1c.970074","type":"http response","z":"87a23b10.7acc68","name":"Stop","statusCode":"200","headers":{"content-type":"text/plain"},"x":330,"y":260,"wires":[]},{"id":"8c27fb0c.f8c168","type":"exec","z":"1f4f751a.3ba6eb","command":"/opt/recording/scripts/do_ffmpeg.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start video recording","x":480,"y":340,"wires":[[],["2d991e2f.722a52"],[]]},{"id":"f432fb1.f08ed08","type":"exec","z":"1f4f751a.3ba6eb","command":"/opt/recording/scripts/Equil.sh start","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Bluetooth start","x":200,"y":240,"wires":[[],["26d140b7.57184","8c27fb0c.f8c168"],[]]},{"id":"26d140b7.57184","type":"exec","z":"1f4f751a.3ba6eb","command":"/opt/recording/scripts/controller.sh start","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Start pen recording","x":470,"y":200,"wires":[[],["9d2ff8de.34c648"],[]]},{"id":"9d2ff8de.34c648","type":"debug","z":"1f4f751a.3ba6eb","name":"","active":true,"console":"false","complete":"false","x":676.1000366210938,"y":217,"wires":[]},{"id":"a86ec813.6bafb8","type":"exec","z":"ee50bad5.b56868","command":"pkill","addpay":false,"append":"ffmpeg","useSpawn":"false","timer":"","oldrc":false,"name":"Detener grabacion","x":330,"y":180,"wires":[[],["dfff33b9.6442","536872bb.b2c49c"],[]]},{"id":"dfff33b9.6442","type":"debug","z":"ee50bad5.b56868","name":"","active":true,"console":"false","complete":"false","x":526.0000152587891,"y":202.0000057220459,"wires":[]},{"id":"9c9bbb37.a1e418","type":"exec","z":"ee50bad5.b56868","command":"/opt/recording/scripts/controller.sh stop","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop pen recording","x":350,"y":100,"wires":[[],[],[]]},{"id":"b5637c5e.c52ce","type":"subflow:1f4f751a.3ba6eb","z":"87a23b10.7acc68","name":"","x":333.1000061035156,"y":143,"wires":[]},{"id":"bd188968.717838","type":"subflow:ee50bad5.b56868","z":"87a23b10.7acc68","x":310,"y":340,"wires":[]},{"id":"ece3f3b6.c271d","type":"exec","z":"ee50bad5.b56868","command":"killall -KILL arecord","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Detener audio","x":325.1000061035156,"y":265.5,"wires":[[],["d865aa19.0b7ca8","64ad4aa1.b9dc54"],[]]},{"id":"1e1cba7a.cbfac6","type":"exec","z":"ee50bad5.b56868","command":"rm /opt/recording/data/*/temp_audio.v","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Eliminar buffer","x":319.1000061035156,"y":336.5,"wires":[[],["34ddc106.da774e"],[]]},{"id":"d865aa19.0b7ca8","type":"debug","z":"ee50bad5.b56868","name":"","active":true,"console":"false","complete":"false","x":532.0000152587891,"y":288.00000953674316,"wires":[]},{"id":"34ddc106.da774e","type":"debug","z":"ee50bad5.b56868","name":"","active":true,"console":"false","complete":"false","x":557.1000366210938,"y":352.20001220703125,"wires":[]},{"id":"5aaca25b.4b209c","type":"inject","z":"87a23b10.7acc68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.10000610351562,"y":482,"wires":[["d06bc6be.aa4688"]]},{"id":"d06bc6be.aa4688","type":"rpi-gpio out","z":"87a23b10.7acc68","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":307.1000061035156,"y":484.00001525878906,"wires":[]},{"id":"82735401.d71068","type":"subflow:1f4f751a.3ba6eb","z":"87a23b10.7acc68","name":"","x":759.1000213623047,"y":141.00000429153442,"wires":[]},{"id":"c8368d4c.a98fd","type":"subflow:ee50bad5.b56868","z":"87a23b10.7acc68","x":734,"y":353,"wires":[]},{"id":"9249116a.69f26","type":"mqtt in","z":"87a23b10.7acc68","name":"Start ","topic":"start","qos":"2","broker":"ceb33a3a.0f4fb8","x":545.1000366210938,"y":147,"wires":[["82735401.d71068"]]},{"id":"7cf245d2.175edc","type":"mqtt in","z":"87a23b10.7acc68","name":"Stop","topic":"stop","qos":"2","broker":"ceb33a3a.0f4fb8","x":537.1000366210938,"y":314,"wires":[["c8368d4c.a98fd"]]},{"id":"2d991e2f.722a52","type":"file","z":"1f4f751a.3ba6eb","name":"","filename":"/opt/recording/logs/ffmpeg.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":790,"y":320,"wires":[]},{"id":"98ad0dce.270f4","type":"debug","z":"ee50bad5.b56868","name":"","active":true,"console":"false","complete":"false","x":664.1001148223877,"y":149.00000381469727,"wires":[]},{"id":"421cfd48.3649a4","type":"debug","z":"ee50bad5.b56868","name":"","active":true,"console":"false","complete":"false","x":657.1001167297363,"y":251.00003242492676,"wires":[]},{"id":"64ad4aa1.b9dc54","type":"function","z":"ee50bad5.b56868","name":"","func":"msg.payload = \"arecord\"\nreturn msg;","outputs":1,"noerr":0,"x":515.1000633239746,"y":251.00000762939453,"wires":[["421cfd48.3649a4"]]},{"id":"536872bb.b2c49c","type":"function","z":"ee50bad5.b56868","name":"","func":"msg.payload = \"ffmpeg\"\nreturn msg;","outputs":1,"noerr":0,"x":508.0000629425049,"y":149.0000171661377,"wires":[["98ad0dce.270f4"]]}]